$white-main: #fffffe;
$blue-main:#3da9fc;
$blue-dark: #094067;
$gray-dark: #5f6c7b;
$gray-main: #999999;
$gray-light: #eeeeee;
$black-main: #333;

$text-light: #ccc;


$font-main:"dejavu_sansbook", Helvetica, Arial, sans-serif;