<footer id="footer">
    <div class="container">

        <div class="col-sm-6">
            <h4>{{ i18n "bridgecrew" }}</h4>
            <a href="https://bridgecrew.io/?utm_source=helm-scanner&utm_medium=organic_oss&utm_campaign=helm-scanner"><img src="{{ .Site.BaseURL }}img/bridgecrew.png" alt="Bridgecrew Logo"></a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>

        <div class="col-sm-6">

            <h4>{{ i18n "navigate" }}</h4>

            <div class="navigate">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/helm-scanner">{{ i18n "home" }}</a>
                        <a href="/helm-scanner/about">{{ i18n "about" }}</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/helm-scanner/search">{{ i18n "search" }}</a>
                    </div>
                </div>
            </div>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>

    </div>

</footer>

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> &nbsp;-&nbsp; helm-scanner {{ now.Format "2006"}}</p>
        </div>
    </div>
</div>